.siderStyle {
  text-align: left;
  font-size: 9pt;
  color: #fff;
  height: calc(100vh - 20px); 
}

.contentStyle {
  margin: 24px;
  color: #fff;
};

.headerStyle {
  text-align: center;
  color: #fff;
  height: 50;
  padding-inline: 50;
  line-height: 64px;
  background-color: #7dbcea;
};